@charset "UTF-8";

@import '../js/vendors/@fancyapps/fancybox.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font: 400 16px var(--mainFont);
  color: var(--mainTextColor);
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

main {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section-button {
  border: none;
  outline: none;
  background: none;
  z-index: 2;
}

.section-button a {
  font: 700 16px var(--mainFont);
  background: var(--buttonBGColor);
  color: var(--mainTextLightColor);
  text-transform: capitalize;
  padding: 16px 40px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.section-button a:hover {
  background: var(--buttonBGHoverColor);
}

.section-title {
  font: 700 40px/1.3 var(--secondaryFont);
  color: var(--secondaryTextDarkColor);
  margin-bottom: 30px;
}

.link-active {
  color: #8ddee1 !important;
}

.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: var(--headerBG);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  cursor: pointer;
}

.logo img {
  width: auto;
  height: 36px;
}

.logo__text {
  font: normal 700 28px var(--mainFont);
  letter-spacing: -0.05em;
  color: var(--headerTextColor);
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link:not(:last-child) {
  margin-right: 15px;
}

.link__items {
  font: 500 16px var(--mainFont);
  color: var(--headerTextColor);
}

.link__items:hover {
  color: #8ddee1 !important;
}

.burger-menu__content {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 300px;
  height: 100vh;
  background: var(--burgerMenuBG);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-300px);
      -ms-transform: translateX(-300px);
          transform: translateX(-300px);
}

.burger-menu {
  display: none;
  position: relative;
}

.burger-menu .checkbox {
  display: none;
}

.burger-menu__lines {
  position: relative;
  z-index: 101;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 25px;
  padding: 5px;
  border-radius: 50%;
  height: auto;
  cursor: pointer;
}

.burger-menu__lines .burger-menu__line {
  background: var(--burgerMenuLines);
  position: relative;
  top: 0;
  height: 2px;
  margin-bottom: 5px;
  -webkit-transition: 0.3s ease all, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  -o-transition: 0.3s ease all, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  transition: 0.3s ease all, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  border-radius: 5px;
}

.burger-menu__lines .burger-menu__line:first-child {
  -webkit-transform-origin: 0;
      -ms-transform-origin: 0;
          transform-origin: 0;
}

.burger-menu__lines .burger-menu__line:last-child {
  margin-bottom: 0;
}

.burger-menu__lines .burger-menu__line:nth-child(2) {
  right: 0;
  width: 25px;
}

.checkbox:checked + .burger-menu__lines::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-animation: changeColor 0.3s ease-in-out 1 forwards;
          animation: changeColor 0.3s ease-in-out 1 forwards;
}

@-webkit-keyframes changeColor {
  0% {
    background: transparent;
  }

  100% {
    background: var(--burgerMenuLinesBG);
  }
}

@keyframes changeColor {
  0% {
    background: transparent;
  }

  100% {
    background: var(--burgerMenuLinesBG);
  }
}

.checkbox:checked + .burger-menu__lines .burger-menu__line:first-child {
  width: 20px;
  top: 0px;
  left: 4px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  background: var(--burgerMenuLinesActive);
}

.checkbox:checked + .burger-menu__lines .burger-menu__line:last-child {
  opacity: 0;
  width: 20px;
  top: -2px;
  left: 0px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  background: var(--burgerMenuLinesActive);
}

.checkbox:checked + .burger-menu__lines .burger-menu__line:nth-child(2) {
  width: 20px;
  top: 0px;
  right: -1px;
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
  background: var(--burgerMenuLinesActive);
}

.backdrop {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.backdrop-active {
  opacity: 1;
  pointer-events: all;
}

.burger-menu__content {
  padding: 15px;
}

.burger-menu__content .nav__links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.burger-menu__content .nav__link {
  width: 100%;
  text-align: center;
  margin: 0;
}

.burger-menu__content .nav__link:not(:last-child) {
  margin-bottom: 5px;
}

.burger-menu__content .link__items {
  display: block;
  width: 100%;
  padding: 5px 0;
}

.hero {
  background: var(--heroBGColor);
  position: relative;
  padding-bottom: 60px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__image {
  position: absolute;
  top: -217px;
  left: calc(100% - 886px);
  z-index: 1;
  border-radius: 50%;
  width: 1184px;
  height: 1166px;
  overflow: hidden;
}

.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 877px;
}

.hero__body {
  width: 55%;
  z-index: 2;
}

.hero__subtitle {
  font: 700 18px/1.2 var(--secondaryFont);
  background: var(--textBGColor);
  display: inline-block;
  color: var(--accentСolor);
  padding: 14px 24px;
  border-radius: 5px;
  margin-bottom: 14px;
}

.hero__title {
  font: 700 58px/1.3 var(--secondaryFont);
  display: block;
  color: var(--heroTitleColor);
  margin-bottom: 28px;
}

.hero__descr {
  font: 400 16px var(--mainFont);
  color: var(--mainTextColor);
  max-width: 555px;
  margin-bottom: 30px;
}

.hero__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.hero .hero__button_video-play {
  border: none;
  outline: none;
  background: none;
}

.hero .hero__button_video-play a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero__button_video-play a:hover span {
  -webkit-transform: scale(102%);
      -ms-transform: scale(102%);
          transform: scale(102%);
  color: var(--buttonBGHoverColor);
}

.hero .hero__button_video-play a:hover .hero-button-video-play__icon {
  background: var(--buttonBGHoverColor);
  -webkit-transform: scale(104%);
      -ms-transform: scale(104%);
          transform: scale(104%);
}

.hero .hero__button_video-play a:hover .hero-button-video-play__icon::before {
  background: var(--buttonBGHoverColor);
  -webkit-transform: scale(104%);
      -ms-transform: scale(104%);
          transform: scale(104%);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation: none;
          animation: none;
}

.hero .hero__button_video-play a .hero-button-video-play__icon {
  background: var(--buttonBGColor);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 50%;
  margin-right: 15px;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero .hero__button_video-play a .hero-button-video-play__icon img {
  max-width: 20px;
  width: 100%;
  max-height: 22px;
  height: 100%;
  z-index: 2;
}

.hero .hero__button_video-play a .hero-button-video-play__icon::before {
  background: var(--buttonBGColor);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 100%;
  content: "";
  pointer-events: none;
  -webkit-animation: pulse 1s 0.5s infinite ease-out;
          animation: pulse 1s 0.5s infinite ease-out;
}

.hero .hero__button_video-play a span {
  font: 500 18px var(--mainFont);
  display: inline-block;
  color: var(--secondaryTextColor);
  text-transform: capitalize;
  -webkit-transition: all 0.1s cubic-bezier(0.63, 1.79, 0.8, 0.35);
  -o-transition: all 0.1s cubic-bezier(0.63, 1.79, 0.8, 0.35);
  transition: all 0.1s cubic-bezier(0.63, 1.79, 0.8, 0.35);
}

@-webkit-keyframes pulse {
  0% {
    opacity: 100%;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }

  80% {
    opacity: 0%;
    -webkit-transform: scale(150%);
            transform: scale(150%);
  }

  100% {
    opacity: 0%;
    -webkit-transform: scale(150%);
            transform: scale(150%);
  }
}

@keyframes pulse {
  0% {
    opacity: 100%;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }

  80% {
    opacity: 0%;
    -webkit-transform: scale(150%);
            transform: scale(150%);
  }

  100% {
    opacity: 0%;
    -webkit-transform: scale(150%);
            transform: scale(150%);
  }
}

.about {
  padding: 60px 0;
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.about-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  padding: 10px;
}

.about-card:hover .about-card__text-content {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}

.about-card:hover .about-card__text-content i {
  color: #fff;
}

.about-card__wrapper {
  min-height: 340px;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(3, 9, 37, 0.1);
          box-shadow: 5px 5px 20px 5px rgba(3, 9, 37, 0.1);
}

.about-card__text-content {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 30px;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.57, 0.25, 0.27, 1.08);
  -o-transition: all 0.5s cubic-bezier(0.57, 0.25, 0.27, 1.08);
  transition: all 0.5s cubic-bezier(0.57, 0.25, 0.27, 1.08);
}

.about-card__icon {
  font-size: 64px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-card__title {
  font: 700 22px/1.2 var(--secondaryFont);
  color: var(--secondaryTextDarkColor);
  margin-bottom: 15px;
}

.about-card__text {
  font: 400 16px/1.6 var(--mainFont);
  color: var(--mainTextColor);
}

.about-card__image-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.about-card__image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.info {
  padding: 60px 0;
}

.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -25px;
}

.info__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 25px;
  gap: 30px;
}

.info__column_text-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__image {
  width: 100%;
  min-height: 560px;
  border-radius: 100%;
  overflow: hidden;
}

.info__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__row_progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.info__subtitle {
  font: 700 16px/1.3 var(--mainFont);
  color: var(--accentСolor);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info__text {
  font: 400 16px var(--mainFont);
  color: var(--mainTextColor);
}

.progress__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.progress__title {
  font: 700 16px var(--mainFont);
  color: var(--secondaryTextDarkColor);
  text-transform: capitalize;
}

.progress-bar {
  background: var(--progressBodyBGColor);
  position: relative;
  width: 100%;
  height: 6px;
}

.progress-bar__fill {
  background: var(--progressBarBGColor);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  -webkit-transition: all 1.2s cubic-bezier(0, 0.52, 0.58, 1.01);
  -o-transition: all 1.2s cubic-bezier(0, 0.52, 0.58, 1.01);
  transition: all 1.2s cubic-bezier(0, 0.52, 0.58, 1.01);
}

.progress-bar__fill_body {
  position: relative;
}

.progress-bar__percent {
  font: 700 16px var(--mainFont);
  color: var(--secondaryTextColor);
  position: absolute;
  top: -30px;
  right: 0px;
  opacity: 0;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: all 1.2s ease-in;
  -o-transition: all 1.2s ease-in;
  transition: all 1.2s ease-in;
}

.progress-bar__percent_animation {
  -webkit-animation: progress 1.2s forwards 1;
          animation: progress 1.2s forwards 1;
}

@-webkit-keyframes progress {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.5;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes progress {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.5;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.services {
  background: var(--servicesBGColor);
  padding: 60px 0;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__subtitle {
  font: 700 16px/1.3 var(--mainFont);
  color: var(--accentСolor);
  margin-bottom: 10px;
}

.services__title {
  margin-bottom: 60px;
}

.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.services__card {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
}

.card__body {
  background: var(--cardsBGColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
  min-height: 360px;
  height: 100%;
  padding: 45px 25px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(3, 9, 37, 0.1);
          box-shadow: 5px 5px 20px 5px rgba(3, 9, 37, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  z-index: 1;
}

.card__body::before {
  background: var(--accentСolor);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 3px;
  height: 0px;
  -webkit-transition: all 0.5s cubic-bezier(0.71, 0.38, 0.09, 1);
  -o-transition: all 0.5s cubic-bezier(0.71, 0.38, 0.09, 1);
  transition: all 0.5s cubic-bezier(0.71, 0.38, 0.09, 1);
  content: "";
}

.card:hover .card__body {
  background: var(--accentСolor);
}

.card:hover .card__body::before {
  height: 100%;
}

.card__icon {
  font-size: 40px;
  color: var(--accentСolor);
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card:hover .card__icon {
  color: var(--cardHoverTextColor);
}

.card__title {
  font: 700 22px/1.2 var(--secondaryFont);
  color: var(--secondaryTextColor);
  margin-bottom: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card:hover .card__title {
  color: var(--cardHoverTextColor);
}

.card__text {
  font: 400 16px/1.6 var(--mainFont);
  color: var(--mainTextColor);
  margin-bottom: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card:hover .card__text {
  color: var(--cardHoverTextColor);
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.card__list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.list-item__icon {
  font-size: 16px;
  color: var(--mainTextColor);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card:hover .list-item__icon {
  color: var(--cardHoverTextColor);
}

.list-item__text {
  font: 400 16px var(--mainFont);
  color: var(--listItemColor);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card:hover .list-item__text {
  color: var(--cardHoverTextColor);
}

.faq {
  padding: 60px 0;
}

.faq__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -25px;
}

.faq__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 25px;
}

.faq__image {
  width: 100%;
  min-height: 560px;
  border-radius: 100%;
  overflow: hidden;
}

.faq__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.faq__subtitle {
  font: 700 16px/1.3 var(--mafaqnt);
  color: var(--accentСolor);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.accordions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.accordion {
  border: 1px solid var(--accordionBorderColor);
  border-radius: 3px;
}

.accordion-header {
  background: var(--accordionHeaderBGColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.accordion-header__title {
  font: 500 16px var(--mainFont);
  color: var(--secondaryTextColor);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion-header__icon {
  font-size: 12px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.accordion-header:hover .accordion-header__title {
  color: var(--accentСolor);
}

.accordion-header:hover .accordion-header__icon {
  color: var(--accentСolor);
}

.accordion-body {
  max-height: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.68, 0.12, 0.26, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.68, 0.12, 0.26, 0.99);
  transition: all 0.4s cubic-bezier(0.68, 0.12, 0.26, 0.99);
  overflow: hidden;
}

.accordion-body__text {
  padding: 16px 24px;
  line-height: 1.8;
}

.accordion_active {
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

.accordion_active .accordion__header {
  background: transparent;
}

.accordion_active .accordion-header__title {
  color: var(--accordionHeaderActiveTextColor);
}

.accordion_active .accordion-header__icon {
  color: var(--accordionHeaderActiveTextColor);
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.footer {
  background: var(--footerBG);
  padding: 60px 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--footerTextColor);
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: -12px;
  margin-bottom: 40px;
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  padding: 12px;
}

.footer__column_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  gap: 5px;
  cursor: pointer;
}

.footer__logo img {
  display: block;
  width: auto;
  max-height: 36px;
}

.footer-logo__text {
  font: 28px var(--mainFont);
  color: var(--mainTextLightColor);
}

.footer__address {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-bottom: 30px;
}

.footer__phone-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

.footer__mail {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-bottom: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: block;
  line-height: 1;
  padding: 8px 0;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social__item:hover {
  background: var(--footerTextColor);
  text-decoration: none;
}

.social__item:hover i {
  color: var(--footerBG);
}

.social__item:not(:last-child) {
  margin-right: 8px;
}

.social__item i {
  font-size: 18px;
  color: var(--footerTextColor);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--footerTextColor);
}

.footer__link span {
  font: 600 14px/1 "Raleways", sans-serif;
}

.footer__link span:hover {
  color: var(--linkHover);
}

.footer__link:not(:last-child) {
  margin-bottom: 20px;
}

.footer__link i {
  font-size: 12px;
  color: var(--linkHover);
  margin-right: 8px;
}

.footer__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: var(--footerTextColor);
  margin-bottom: 20px;
}

.footer__text {
  font-size: 14px;
  line-height: 1.5;
}

.footer__row_2 {
  font: 400 16px/1.5 Roboto, sans-serif;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid var(--footerTextColor);
  text-align: center;
  color: var(--footerTextColor);
  margin-bottom: 0;
}

@media only screen and (max-width: 1730px) {
  .hero__wrapper {
    min-height: 677px;
  }

  .hero__image {
    top: -212px;
    left: calc(100% - 686px);
    width: 984px;
    height: 966px;
  }
}

@media only screen and (max-width: 1330px) {
  .hero__image {
    top: -12px;
    left: calc(100% - 570px);
    width: 784px;
    height: 766px;
  }
}

@media only screen and (max-width: 1160px) {
  .hero__image {
    top: 50px;
    left: calc(100% - 420px);
    width: 684px;
    height: 666px;
  }

  .hero__body {
    width: 60%;
  }

  .info__image {
    min-height: 520px;
  }

  .faq__image {
    min-height: 520px;
  }
}

@media only screen and (max-width: 1060px) {
  .info__image {
    min-height: 480px;
  }

  .faq__image {
    min-height: 480px;
  }
}

@media only screen and (max-width: 992px) {
  .white-space {
    display: none;
  }

  .burger-menu {
    display: block;
    margin-left: auto;
  }

  .hero__wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-height: auto;
  }

  .hero__body {
    width: 100%;
  }

  .hero__descr {
    max-width: 100%;
  }

  .hero__image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 600px;
    border-radius: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 45px;
  }

  .about-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .about-card__icon {
    font-size: 58px;
  }

  .info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    gap: 30px;
  }

  .info__column {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .info__image {
    border-radius: 0;
    width: 100%;
    min-height: auto;
    height: 600px;
  }

  .services__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .faq__column_left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .faq__column_right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .faq__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    gap: 30px;
  }

  .faq__column {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .faq__image {
    border-radius: 0;
    width: 100%;
    min-height: auto;
    height: 600px;
  }
}

@media only screen and (max-width: 940px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .footer__column:first-child {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-bottom: 30px;
  }

  .hero__image {
    height: 500px;
    margin-bottom: 30px;
  }

  .hero__subtitle {
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero__title {
    font-size: 48px;
  }

  .section-button a {
    padding: 12px 40px;
  }

  .about {
    padding: 30px 0;
  }

  .info {
    padding: 30px 0;
  }

  .info__image {
    height: 500px;
  }

  .services {
    padding: 30px 0;
  }

  .services__title {
    margin-bottom: 30px;
  }

  .faq {
    padding: 30px 0;
  }

  .faq__image {
    height: 500px;
  }
}

@media only screen and (max-width: 700px) {
  .services__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media only screen and (max-width: 615px) {
  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .footer__column:first-child {
    margin-bottom: 0;
  }

  .footer__column:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .about-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media only screen and (max-width: 568px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .hero__title {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .hero__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .hero__button {
    min-height: 45px;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .hero__button a {
    padding: 12px 40px;
    width: 100%;
    display: block;
  }

  .hero-button-video-play {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (max-width: 500px) {
  .hero__image {
    height: 350px;
  }

  .info__image {
    height: 350px;
  }

  .faq__image {
    height: 350px;
  }
}

@media only screen and (max-width: 400px) {
  .burger-menu__content {
    width: 100vw;
  }
}
